@page "/checkout" // EKLENDİ
@using PizzaOrderApp.Services
@using PizzaOrderApp.Components
@inject OrderService OrderService
@inject NavigationManager NavManager

<PageTitle>Ödeme Ekranı</PageTitle>

<div class="container mt-5 checkout-page">
    <h3 class="mb-4">Sipariş Tamamlama ve Ödeme</h3>

    @if (OrderService.CurrentOrder.SelectedPizza == null || OrderService.CurrentOrder.SelectedSize == null)
    {
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Sipariş Bulunamadı!</h4>
            <p>Lütfen menüye dönerek bir pizza seçin.</p>
            <button class="btn btn-warning mt-3" @onclick='() => NavManager.NavigateTo("/pizzas")'>
                🍕 Menüye Dön
            </button>
        </div>
    }
    else
    {
        <div class="row g-5">
            <div class="col-lg-7 order-lg-1">
                <CustomerForm />
            </div>
            <div class="col-lg-5 order-lg-2">
                <OrderSummary />
            </div>
        </div>
    }
</div>